    [merge]
    tool = unityyamlmerge

    [mergetool "unityyamlmerge"]
    trustExitCode = false
    cmd = '/Applications/Unity/Hub/Editor/2021.2.12f1/Unity.app/Contents/Tools' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
